<%= form_for @changeset, topic_path(@conn, :create), fn f -> %>
  <div class="form-group">
    <%= text_input f, :title, placeholder: "Title", class: "form-control" %>
    <%= error_tag f, :title %> <!-- show any error message associated with :title property of the changeset -->
  </div>

  <%= submit "Save Topic", class: "btn btn-primary" %>
<% end %>
